.git/
.github/
.gitignore
.env

Dockerfile
.dockerignore

venv*/
__pycache__/
*.py[cod]

.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
.coverage.*
htmlcov/

tests/
Docs/

*.ps1
ConfigPowerShell.ini
requirements_dev.txt
README.md

logs/
temporario/
